* {
    margin: 0;
}

.contenedor {
    background: url("Imagenes/Espacio.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

h1 {
    font-style: italic;
    color: #070707;
    padding: 15%;
}

h2 {
    font-weight: bolder;
    color: rgb(16, 30, 230);
}

button {
    font-size: large;
    padding: 1.5em;
}

#yesBtn {
    transform: translate(-100%, 0);
    font-weight:bolder;
    color: #d31212;
}

#noBtn {
    position: absolute;
}
